<%- include("./partials/head.ejs") %>
<main>
  <div id="grid">
    <% for (let i = 0; i <= 7; i++) { %>
    <article>
      <a href="/<%= items[i].slug %>">
        <% if (i !== 7) { %><img src="/img/<%= items[i].image %>" alt="<%= items[i].title %>" /><% } %>
        <div>
          <h2><%= items[i].title %></h2>
          <% if (items[i].author) { %>
          <p>By <%= items[i].author %></p>
          <% } %>
        </div>
      </a>
    </article>
    <% } %>
  </div>
  <div id="the-rest">
    <% for (let i = 8; i < items.length; i++) { %>
    <article>
      <a href="/<%= items[i].slug %>">
        <div>
          <h2><%= items[i].title %></h2>
          <% if (items[i].author) { %>
          <p>By <%= items[i].author %></p>
          <% } %>
        </div>
      </a>
    </article>
    <% } %>
  </div>
</main>
<%- include("./partials/foot.ejs") %>
