<%- include("./partials/head.ejs") %>
<main>
  <% items.forEach(item => { %>
  <article>
    <a href="/<%= item.slug %>">
      <img src="/img/<%= item.image %>" alt="<%= item.title %>" />
      <div>
        <h2><%= item.title %></h2>
        <% if (item.author) { %>
        <p>By <%= item.author %></p>
        <% } %>
      </div>
    </a>
  </article>
  <% }); %>
</main>
<%- include("./partials/foot.ejs") %>
