<%- include("./partials/head.ejs") %>
<main>
  <div>
    <h2><%= item.title %></h2>
    <time datetime="<%= item.datetime %>"><%= item.datetimeRelative %></time> • 
    <span>
      <% item.keywords.forEach(keyword => { %>
      <a href="/tag/<%= keyword %>"><%= keyword %></a>
      <% }); %>
    </span>
    <div id="content">
    <%- item.content.html %>
    </div>
    <% if (item.link) { %>
    <a id="link" href="<%= item.link %>">Read the full article</a>
    <% } %>
  </div>
</main>
<%- include("./partials/foot.ejs") %>
